* {
    box-sizing: border-box;
}

body {
    background-color: #fcf9f4;
    color: #151515;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-bottom: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
}

h1 {
    color: #942b14;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #942b14;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: #151515;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;

}

p {
    max-width: 800px;
}

ul {
    margin-bottom: 10px;
    margin-left: 40px;
}

a {
    color: #2762ed;
    text-decoration: underline;
}

.section {
    margin-bottom: 10px;
}

.image-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-row img {
    object-fit: cover;
    margin: 10px;
    max-width: 300px;
    width: 100%;
}